.gallery {
  position: relative;

  &_list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: flex-start;

    &.line {
      flex-direction: column;

      .picture {
        width: 100%;
      }
    }
  }

  &_view {
    text-align: center;

    &-button {
      display: inline-block;
      margin-left: 10px;
      padding: 5px;
      border: 1px solid gray;
      color: grey;
      font-size: 25px;
      text-decoration: none;

      &:first-child {
        margin-left: 0;
      }

      &.active {
        background: #caf2ff;
      }
    }
  }

  &_close {
    position: absolute;
    padding: 10px;
    right: 0;
    top: 0;
    font-size: 24px;
    color: #fff;
    text-decoration: none;
  }
}

